@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@-webkit-keyframes growing {
  0% { 
    background: #4A148C;
  }
  20% {
    left:   calc(50% - 300px);
    bottom: calc(50% - 300px);
    width: 600px;
    height: 600px;
    background: rgba(38,50,56,1);
    @include border-radius( 1500px );
  }
  100% {
    width: calc( 100% - #{$menu-width} );
    left: $menu-width;
    height: 100%;
    bottom: 0;
    overflow: auto;
    background: rgba(38,50,56,0.9);
    @include border-radius( 0px );
  }
}

@-webkit-keyframes prspective {
  0% { 
    background: rgba(55,71,79 ,1);
    left: 100%;
    bottom: 100%;
  }
  20% {
    left:   calc(50% - 300px);
    bottom: calc(50% - 300px);
    width: 600px;
    height: 600px;
    background: rgba(55,71,79 ,1);
    @include transform(rotate(-135deg) skew(-10deg, -10deg));
  }
  100% {
    width: calc( 100% - #{$menu-width} );
    left: $menu-width;
    height: 100%;
    bottom: 0;
    overflow: auto;
    @include transform(rotate(0) skew(0, 0));
  }
}

@-webkit-keyframes flip {
  0% { 
    left: 0;
    bottom: 50%;
  }
  50% {
    left: 12%;
    top: 0;
    width: 100%;
    height: 100%;
    @include transform( perspective(500px) rotateY(-45deg) scale(0.5) );
  }
  100% {
    width: calc( 100% - #{$menu-width} );
    left: $menu-width;
    height: 100%;
    top: 0;
    overflow: auto;
    background: rgba(#FF8F00, 0.95);
    @include transform( perspective(0) rotateY(0) scale(1) );
  }
}

@-webkit-keyframes blurry {
  0% { 
    left: 0;
    width: 100%;
    bottom: 50%;
    height: 150%;
    @include filter( blur(250px) );
    @include transform( scale(1.5) );
  }
  100% {
    top: 0;
    left: $menu-width;
    height: 100%;
    width: calc( 100% - #{$menu-width} );
    overflow: auto;
    background: rgba(#FF8F00, 0.95);
    @include filter( blur(0px) );
    @include transform( scale(1) );
  }
}