@import url("http://fonts.googleapis.com/css?family=Noto+Sans");

@import "compass/reset";
@import "compass/css3";

body{
	color: #212121;
	background: #FAFAFA;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.55;
	font-weight: 300;
	font-size: 14px;
}

h1{
	color: #3F51B5;
	font-size: 2rem;
	margin: 0.6rem 0 1.15rem 0;
}

h2{
	color: #1A237E;
	font-size: 1.6rem;
	margin: 0.4rem 0 0.45rem 0;
}

p{
	margin: 0 0 1rem 0;
}

section{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100;
}

nav#main_nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 250px;
	height: calc(100% - 100px);
	background: #FFF;
	overflow: auto;
	ul{
		list-style: none;
		li{
			display: block;
			padding: 1.15rem 0.55rem;
			border-bottom: 1px solid #FAFAFA;
			a{
				text-decoration: none;
			}
		}
	}
}

article.main{
	width: calc( 100% - 250px - 2rem );
	height: 100%;
	padding: 1rem;
	margin: 0 0 0 250px;
	overflow: auto;
}

#buttons{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 250px;
	height: 100px;
	background: #F0F0F0;
}

.button_container{
	position: fixed;
	width: 32px;
	height: 32px;
	background: #009688;
	@include border-radius(46px);
	@include box-shadow( rgba(100,100,100,0.5)  0px 0px 5px);
	@include transition-property(width, height, left, bottom, background-color);
	@include transition-duration(0.1s);
	@include transition-timing-function(linear);
	.inner{
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
		text-align: center;
		.icon{
			width: 32px;
			height: 16px;
			text-align: center;
			display: block;
			cursor: pointer;
			padding: 6px 0 10px 0;
			color: #FFF;
			font-weight: 700;
			@include transition-property(width, height, padding);
			@include transition-duration(0.1s);
			@include transition-timing-function(linear);
		}
		content{
			display: none;
			position: absolute;
			left: -10rem;
			height: -10rem;
			width:   32px;
			height:  32px;
			overflow: auto;
			@include transition-property(left, top);
			@include transition-duration(1s);
			@include transition-timing-function(ease-out);
		}
	}
	&.rounded_open{
		left:   10px;
		bottom: 50px;
		&:hover{
			left:   5px;
			bottom: 40px;
		}
		&.active{
			width: 600px;
			height: 400px;
			left:   300px;
			bottom: calc( 50% - 200px );
			background: #FFF;
			border: 1px solid #F0F0F0;
			@include border-radius(0px);
			@include box-shadow( rgba(100,100,100,0.0)  0px 0px 0px);
			.inner{
				text-align: left;
				.icon{
					display: none;
				}
				content{
					display: block;
					padding: 1rem;
					position: relative;
					top: 0;
					left: 0;
					width:  calc(100% - 2rem);
					height: calc(100% - 2rem);
					z-index: 9999;
				}
			}
		}
	}
	&.rounded_modal{
		left:   50px;
		bottom: 50px;
		&:hover{
			left:   45px;
			bottom: 40px;
		}
		&.active{
			width: 100%;
			height: 100%;
			left:   0;
			bottom: 0;
			background: rgba(0,0,0,0.5);
			border: 0px none;
			@include border-radius(0px);
			@include box-shadow( rgba(100,100,100,0.0)  0px 0px 0px);
			.inner{
				text-align: left;
				.icon{
					display: none;
				}
				content{
					display: block;
					padding: 1rem;
					width:  calc(800px - 2rem);
					height: calc(600px - 2rem);
					position: fixed;
					top:  calc( 50% - 400px );
					left: calc( 50% - 300px );
					z-index: 9999;
					background: #FFF;
					border: 1px solid #F0F0F0;
				}
			}
		}
	}
	&:hover{
		width: 50px;
		height: 50px;
		z-index: 1000;
		@include box-shadow( rgba(70,70,70,0.75)  0px 0px 8px);
		.icon{
			width:   50px;
			height:  26px;
			font-size: 110%;
			padding: 12px 0 12px 0;
		}
	}
}